{% extends "base.html" %}

{% block content %}
    <h2>Редактировать запись</h2>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('edit_entry_by_id', entry_id=entry.id) }}">
        <div class="form-group">
            <label for="title">Заголовок:</label>
            <input type="text" id="title" name="title" value="{{ entry.title }}" required>
        </div>

        <div class="form-group">
            <label for="topic">Тема:</label>
            <select id="topic" name="topic">
                {% for topic in topics %}
                    {% if topic != "Все темы" and topic != "Без темы" %}
                        <option value="{{ topic }}" {% if topic == entry.topic %}selected{% endif %}>{{ topic }}</option>
                    {% endif %}
                {% endfor %}
                <option value="Без темы" {{"selected" if entry.topic|default("") == "Без темы" else "" }}>Без темы</option>
            </select>
        </div>

        <div class="form-group">
            <label for="content">Содержание:</label>
            <textarea id="content" name="content" rows="15" required>{{ entry.content }}</textarea>
        </div>

        <div class="form-group">
            <label for="file">Файл (PDF, Word, TXT):</label>
            <input type="file" id="file" name="file">
        </div>

        {% if entry.file %}
            <div class="current-file">
                <p>Текущий файл:
                    <a href="{{ url_for('uploaded_file', filename=entry.file) }}" target="_blank">
                        {{entry.file}}
                    </a>
                </p>
            </div>
        {% endif %}

        <button type="submit" class="btn-submit">Сохранить изменения</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn-back">Назад к списку</a>
{% endblock %}